# Web框架相关依赖
Flask==2.3.3
Flask-Cors==4.0.0
gunicorn==20.1.0
python-dotenv==1.0.0

# 基础依赖
requests==2.32.3
PyYAML==6.0.2

# 图像处理依赖
pillow==10.2.0
numpy==1.26.4

# 数据库依赖
pymongo==4.6.1

# 日志处理
colorlog==6.8.0
